.fixed-height { 
	height: 100vh;
	max-height: 100vh;
	overflow: hidden;
}

.left-sidebar { 
	left-padding: 10px;
	width: 500px;
}

.main-panel {
	margin-left: 510px;
	height: 95vh;
}

.scrollable-list {
	max-height: 95vh;
	overflow-y: scroll;
}

.no-wrap {
	white-space: nowrap;
}