<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>VMWare Hackathon - Poor Man's Self Service - Dashboard</title>
    <link rel="stylesheet" href="webjars/bootstrap/3.3.4/css/bootstrap.min.css" />
    <!-- link rel="stylesheet" href="webjars/bootstrap/3.3.4/css/bootstrap-responsive.min.css" / -->
    <link rel="stylesheet" href="css/matrix-style.css" />
    <link rel="stylesheet" href="css/matrix-media.css" />
    <link href="font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link rel="stylesheet" href="css/jquery.gritter.css" />
    <link rel="stylesheet" href="webjars/bootstrap-treeview/1.2.0/bootstrap-treeview.min.css" />
    <link rel="stylesheet" href="css/dunesbuggy.css" />
    <!--  script src="js/jquery-3.1.1.min.js"></script -->
	<script src="webjars/jquery/3.1.1/jquery.min.js"/>  
	<script src="webjars/bootstrap/3.3.4/js/bootstrap.min.js"/>  
    <script src="webjars/bootstrap-treeview/1.2.0/bootstrap-treeview.min.js"/>
  </head>

  <body>
    <!--Header-part-->
    <div id="header">
      <h1><a class="" href="dashboard.html">vRo Self Service</a></h1>
    </div>
    <!--close-Header-part--> 

    <!--top-Header-menu-->
    <div id="user-nav" class="navbar navbar-inverse">
      <ul class="nav">
        <li  class="dropdown" id="profile-messages" ><a title="" href="#" data-toggle="dropdown" data-target="#profile-messages" class="dropdown-toggle"><i class="icon icon-user"></i>  <span class="text" th:text="${backend.user}">Welcome Administrator@vsphere.local</span><b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="#"><i class="icon-user"></i> My Profile</a></li>
            <li class="divider"></li>
            <li><a href="#"><i class="icon-check"></i> My Tasks</a></li>
            <li class="divider"></li>
            <li><a href="index.html"><i class="icon-key"></i> Log Out</a></li>
          </ul>
        </li>
        <li class=""><a title="" href="index.html"><i class="icon icon-share-alt"></i> <span class="text">Logout</span></a></li>
      </ul>
    </div>
    <!--close-top-Header-menu-->

    <!--left-sidebar-menu-->
    <div id="sidebar" class="left-sidebar">
      	<div id="catalog-tree"/>
    </div>
    <!--end-left-sidebar-menu-->

    <!--main-container-part-->
    <div id="content">
        <!--breadcrumbs-->
          <div id="content-header">
            <div id="breadcrumb"> <a href="dashboard.html" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> Workflows</a></div>
          </div>
		<div class="widget-box">
          <div class="widget-content nopadding">
			  <div class="widget-title"> <span class="icon"> <i class="icon-th"></i> </span>
				<h5>"Device Management</h5>
			  </div>
			  <div class="widget-content nopadding">
				<table class="table table-bordered table-striped" id="catalog">
				  <thead>
					<tr>
					  <th>Workflow</th>
					  <th>Actions</th>
					</tr>
				  </thead>
				  <tbody>
				  <!-- th:block th:each="item: ${catalog}">
					<tr class="odd gradeX" th:attr="data-tt-id=${item.id},data-tt-parent-id=${item.parentId}">
					  <td class="folder" th:text="${item.name}"></td>
					  <td><button th:if="${not item.isFolder}" id="restlaunch4"><i class="icon icon-share-alt"></i> Launch</button></td>
					</tr>
				</th:block -->
				  </tbody>
				</table>
			  </div>
		 </div>
		<div id="result"></div>
		</div>
        <!--End-breadcrumbs-->
	</div>
    <!--end-main-container-part-->
    
    <!--Footer-part-->
    <div class="row-fluid">
      <div id="footer" class="span12"> Poor Man's vRealize Orchestrator - Coded @VMware Hackathon 2016 </div>
    </div>
    <!--end-Footer-part-->
    
    <script>
    // Load tree view
    $.ajax({
    		datatype: "json",
    		url: "rest/catalogtree",
    		method: "GET",
    		success: function(data) {
				console.log("Got tree data: " + data);
    			$('#catalog-tree').treeview({
					data: [ data ],
					expandIcon: "glyphicon glyphicon-folder-open",
					collapseIcon: "glyphicon glyphicon-folder-close",
					//nodeIcon: "glyphicon glyphicon-file"
					 });
    		}
    });
   
    </script>
    
    
      <div id="result"></div>


  </body>
</html>
