<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8" />
<title>VMWare Hackathon - Project Dunebuggy</title>
<link rel="stylesheet" type="text/css" href="css/style.css" />
<script src="js/jquery-3.1.1.min.js"></script>
</head>

<body>
	<!-- Center Login Wrapper on Page-->
	<div class="wrapper">
		<div class="container">
			<h1>Project Dunebuggy Login</h1>
			<form th:action="@{/login}" method="post" data-ajax="false" class="form">
				<input type="text" name="username" id="username" placeholder="SSO Username" /> 
				<input type="password" name="password" id="password" placeholder="SSO Password"/>
				<button type="submit" id="login-button">Connect</button>
			</form>
			<div id="result"></div>
		</div>
		<!-- Create floating square background -->
		<ul class="bg-bubbles">
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
		</ul>
	</div>
</body>
</html>
